@use "../utils/mixins";
@use "../utils/variables";

.logo {
  display: flex;
  width: 130px;
  height: 38px;

  @include mixins.on-tablet {
    width: 187px;
    height: 56px;
  }

  @include mixins.hover(transform, scale(1.2));

  &__image {
    aspect-ratio: 1;
    width: 100%;
    fill: variables.$color-text-primary;

    &--menu {
      fill: variables.$color-text-secondary;
    }
  }
}
